body {
    width: 100%;
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
}
a { text-decoration: none; }
li {list-style: none;}
.bg_img {
    width: 100%;
    height: 720px;
    overflow:hidden;
    margin-bottom: 100px;
}
.bg_img #bg_img_z{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
header {
    overflow: hidden;
    width: 90%;
    margin: 50px auto;
}
header #logo {
    float: left;
}
header #logo img {
    display: block;
    width: 50px;
}
header ul { 
    list-style: none; 
    overflow: hidden;
    line-height: 55px;
    float: right;
}
header li {
    float: left;
    margin-left: 50px;
}
header .menuLink{ 
    color: white;
    display: block;  
    width: 100%; 
    font-size: 14px; 
    font-weight: bold;
}
h3{ padding: 20px;  margin-left: -15px; }
#main {
    width: 90%;
    margin: 50px auto;
}
#main form {
    width: 330px;
    height: 430px;
    background: white;
    margin-top: 60px;
}
#mainchoice {
    font-size: 11px;
    margin-left: 25px;
}

h3 { font-size: 20px; }

#ppl { width: 275px; }

input[type=text], select {
    width: 250px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; 
}
input[type=submit] {
    background: palevioletred;
    color:#fff;
    border:none;
    width:75px;
    height:35px;
    font-size:12px;
    margin: auto;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    float: right;
}
input[type=submit]:hover {
    background:#fff;
    color: black;
}
.content {
    width: 90%;
    margin: 30px auto;
    overflow: hidden;
}
.content .recom {
    width: calc(100% / 5 - 20px);
    margin-right: 20px;
    height: 290px;
    float: left;
}
.best_container{
    height: 500px;
}
#content1 #recom5 {
    margin-right: 0;
}
.content a {
    text-align: center;
    color:white;
    display: block;
    font-size: 20px; 
    font-weight: bold;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px 0px -80px 0px;
    position: relative;
    font-family: 'Bad Script', cursive;
}
.content img {
    /*width: 240px;
    height: 290px;*/
    display: block;
    width: 100%;
    height: 100%;

}
#content2 {
    margin-top: 50px;
}

#content2 h4{
    margin-top: -15px;
}
#content2 p {
    text-align: left;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
#best1, #best2, #best3, #best4, #best5 {
    height: 180px;
}
#content2 span {font-size: 10px;}
#footerimg .footer_bg {
    width: 100%;
    height: 220px;
    position: absolute;
    z-index: -1;
}

#icon {
    float: left;
    margin-left: 300px;
    overflow: hidden;
}
#icon img{
    margin-top: 20px;
    width: 50px; }
footer a {
    color: black; 
}
#icon a {
    float: right;
    margin-right: 20px;
}
footer li {
	
    list-style: none; 
    color:black;
 }
 #footercontent1 {
     font-size: 22px;
     float: left;
     margin-left: 60px;
 }
 #footercontent {
 clear:left;
     height: 100%;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 14px;
     font-weight: bold;
 }
 #footercontent2, #footercontent3, #footercontent4 {
     float: left;
     margin-left: 100px;
 }

 @media screen and (max-width: 983px) { 

     #recom4, #best4, #recom5, #best5{
         display: none;
     }
     .content .recom {
        width: calc(100% / 3 - 20px);
        margin-right: 20px;
        height: 200px;
        float: left;
    }
}
 