/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
  }
  
  
  /*
   * Global add-ons
   */
  
  .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  
  /*
   * Top navigation
   * Hide default border to remove 1px line.
   */
  .navbar-fixed-top {
    border: 0;
  }
  
  /*
   * Sidebar
   */
  
  /* Hide for mobile, show later */
  .sidebar {
    display: none;
  }
  @media (min-width: 768px) {
    .sidebar {
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      background-color: #f5f5f5;
      border-right: 1px solid #eee;
    }
  }
  
  /* Sidebar navigation */
  .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
  }
  .nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
  }
  
  
  /*
   * Main content
   */
  
  .main {
    padding: 20px;
  }
  @media (min-width: 768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  
  
  /*
   * Placeholder dashboard ideas
   */
  
  .placeholders {
    margin-bottom: 30px;
    text-align: center;
  }
  .placeholders h4 {
    margin-bottom: 0;
  }
  .placeholder {
    margin-bottom: 20px;
  }
  .placeholder img {
    display: inline-block;
    border-radius: 5px;
  }
  /*........수정코드..........*/
  .container-fluid-color {
    background: #3c8dbc;
  }
  .container-fluid > .navbar-header {
    width: 213px;
    background: #357ca5;
  }
  #dateDemo {
    float: left;
    color: #fff;
    margin-top: 15px;
    margin-left: 400px;
  }
  .face-img{
    width: 20px;
    border-radius: 50%;
    margin-top: 15px;
    margin-right: 15px;
  }
  .face-p {
    float: right;
    margin-right: 10px;
    color: #fff;
    margin-top: 15px;
  }
  .small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .bg-yellow{
    background: #f39c12 !important;
  }
  .bg-green {
    background: #00a65a;
  }
  .bg-blue {
    background: #00c0ef;
  }
  .bg-purple {
    background: #605ca8;
  }
  .bg-pink{
    background: #d81660;
  }
  .bg-orange {
    background: #dd4b39;
  }
  .small-box > .inner {
    padding: 10px;
  }
  .small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
    color: #fff;
    box-sizing: border-box;
  }
  .small-box p {
    font-size: 15px;
  }
  .small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: rgba(225, 225, 225, 0.8);
    display:block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }