html body {
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
#detail {
    margin-left: 100px;
}


a { text-decoration: none; }



.detail_img {position: relative; width: 100%; height: 300px; overflow: hidden; }
.detail_img_box {width: 50%; height: 150px; overflow: hidden;}
#detail_img2, #detail_img3, #detail_img4, #detail_img5 {
    width: 50%;
    float: left;
    height: 150px;
}

#detail_img1 { width: 100%;height: 300px; }

#detailPage_save {
    position: absolute;
    width: 65px;
    height: 40px;
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: .9em;
    top: 20px;
    right: 30px;
    text-align: right;
    padding-right: 15px;
    cursor: pointer;
    line-height: 40px;
}
#saveImg_box {
    width: 15px;
    height: 13px;
    display: inline-block;
    overflow: hidden;
    margin:0;
}
#detailPage_save img {
    width: 15px;
    float: left;
}

#main .content {
    margin: 0 auto;
    padding-top: 100px;
}
#summary {
    font-size: 30px;
    font-weight: bold;
}
#location {
    font-size: 16px;
    color: gray;
    margin-top: 20px;
}
#content1, #content2, #content3 {
    font-size: 16px;
    margin: 25px 0px;
    font-weight: bold;
}
#main .content img {
    width: 13px;
}
#main .content span {
    margin-left: 19px;
    font-weight: normal;
}
#content4, #content5, #content6, #content7, #content8 {
    width: 60%;
    border-top: 1px solid RGB(194,194,194);
    padding: 40px 0px;
    font-size: 16px;
    line-height: 25px;
}
#subsummary {
font-size: 16px;
font-weight: bold; 
margin-bottom: 25px;
}
#content5_2{ margin-left: 138px; }
#content5_4 { margin-left: 100px; }
#content5 img, #content6 img { width: 20px; }
#content6_box {
    width: 30%;
    border: 1px solid RGB(194,194,194);
    padding: 20px;
    font-size: 16px;
    line-height: 25px;
}
#content7 img {
    width: 90%;
    margin-left: 10px;
    margin-top: 30px;
}
#review_input { 
    display:block; 
    width: 60%;
    height: 8px; 
    border-radius: 4px;
    padding-left: 10px;
    box-shadow: none; border-style: none; border: 1px solid}
#content9, #content10 {
    width: 40%;
    font-size: 16px;
    margin-left: 15px;
    margin-bottom: 70px;
}
#review{margin-bottom: 10px; }
#review_img {
	padding-top:10px;
    width: 10%;
    float: left;
}
#review_summary {
    float: left;
    margin-left: 20px;
    
}
#review_content, #content11, #content12, #content13 {
    clear: left;
    padding-top: 10px;
    font-size: 15px;
    margin-bottom: 30px;
    padding-bottom: 35px;
    border-bottom: 1px solid RGB(194,194,194);;
}

.calendar, .calendar_weekdays, .calendar_content {
    max-width: 300px;
}
.calendar {
    font-weight: 400;
}
.calendar_content, .calendar_weekdays, .calendar_header {
    position: relative;
    overflow: hidden;
}
.calendar_weekdays div {
    display:inline-block;
    vertical-align:top;
}
.calendar_weekdays div, .calendar_content div {
    width: 14.28571%;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
    color: #6f6f6f;
    font-size: 14px;
}
.calendar_content div {
    border: 1px solid transparent;
    float: left;
}
.calendar_content div:hover {
    border: 1px solid #dcdcdc;
    cursor: default;
}
.calendar_content div.blank:hover {
    cursor: default;
    border: 1px solid transparent;
}
.calendar_content div.past-date {
    color: #d5d5d5;
}
.calendar_content div.selected {
    background-color: #f0f0f0;
}
.calendar_header {
    width: 100%;
    text-align: center;
}
.calendar_header h2 {
    padding: 0 10px;
    font-family:'Muli', sans-serif;
    font-weight: 300;
    font-size: 18px;
    float:left;
    width: 100%;
    margin: 10px 0;
}
button.switch-month {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    color: #dcdcdc;
    float: left;
    width:15%;
    transition: color .2s;
}
button.switch-month:hover {
    color: #87b633;
}
#mid_summary {
    font-size: 18px;
    font-weight: bold; 
    margin-bottom: 25px;    
    line-height: 30px;
}
#mid_summary1 { font-size: 14px; }
#host { float: right; width: 10%; margin-top: -30px;}
#map {width: 90%; margin-top: 20px;}
#content13 img {width: 18px;}
#content13_2 {margin-left: 180px; }
#content14 ul, li {list-style-type: square;}
#popup {
    width: 350px;
    height: 430px;
    border: 1px solid gray;
    background: white; 
    position: absolute;
    top: 600px;
    right: 80px;
    overflow: hidden; 
    display: none;

} 
#popup form { margin: 32px; }
#popuptitle, #ppl {font-size: 13px;}
h4 { font-size: 16px; }
h5 { font-size: 13px; font-weight:normal; color:darkgray; border-top: 1px solid darkgray; padding-top: 20px;}
#ppl { width: 275px; }

input[type=text], select {
    width: 250px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; 
}
input[type=submit] {
    background: palevioletred;
    color:#fff;
    border:none;
    width:275px;
    height:35px;
    font-size:12px;
    margin: auto;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    float: right;
    margin-top: 10px;
}
input[type=submit]:hover {
    background:#fff;
    color: black;
}
#reservebtn {
    background: palevioletred;
    color:#fff;
    border:none;
    width:275px;
    height:35px;
    font-size:12px;
    margin: auto;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    float: right;
    margin-top: 10px;
}
#reservebtn:hover {
    background:#fff;
    color: black;
}



@media screen and (min-width:760px) {
    #topmenu{display: none;}
    #detail_img2,#detail_img3,#detail_img4,#detail_img5{display: inline;}
    #detail_img1 {
        width: 50%;
        float: left;
    }
    #popup {display: none;}


}

/* -992px 이상 */
@media screen and (min-width:992px) {
    #topmenu{display: inline;}
    .content {
        margin: 0px 100px;
    }
    .detail_img {height: 300px;}
	.detail_img_box {height: 150px;}	
    #summary {
        font-size: 30px;
        font-weight: bold;
    }
    #content4, #content5, #content6, #content7, #content8 {
        width: 60%;
        border-top: 1px solid RGB(194,194,194);
        padding: 40px 0px;
        font-size: 16px;
        line-height: 25px;
        margin-left: 15px;
    }
    #content9, #content10 {
        width: calc(100% - 450px);
        font-size: 16px;
        margin-left: 15px;
        margin-bottom: 70px;
    }
    #popup {display: inline;}
    
}

