html body {
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
header div{
    background-color: white;
    padding: 10px 30px 0px 10px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 20px;
}

#logo_image{
    float: left;
    width: 35px;
    margin-top: 10px;
 
}
a { text-decoration: none; }
#topmenu{
    float: right;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}
#topmenu ul, li{
    display:inline; 
    margin-right: 35px;
   
}
#topmenu .menuLink{ 
    text-decoration:none; 
    color: black;
}
#detail_input {
    width: 350px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}
.button {
    margin-left: 10%;
    padding: 5px;
    margin-top: 3px;
}

.adjust {
    margin-right: 10%;
    padding: 5px;
    margin-top: 3px;
    float: right;
}

.textarea {
    resize: none;
    line-height: 30px;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}
#boardnotice p {
    font-family: Impact, 맑은고딕;
    font-size: 30px;
    line-height: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 120px;
}
