.HostFooter{
 position: fixed;

    left: 0;

    bottom: 0;

    width: 100%;
    height:10%;
	z-index:1;
	


	border-top: 0.5px solid silver;
	background-color: white;

	
}
.up{
	margin-bottom:100px;
}
.btn-mar-left{
	margin-left: 100px;
}
.btn-pad-top{
	margin-top: 15px;
}
.btn-mar-right{
	margin-right: 100px;
}
.div-margin-top{
	margin-top:50px;
}
.text-center{
	text-align: center;
}

.set{
	padding-top: 5px;
	padding-bottom: 15px;
	padding-left: 80px;
}
.img-wrapper {
    position: relative;
}
.hMainImg{
	width: 150px;
	height: auto;
	
	margin-right: 50px;
}
.textsize5{
	font-size: 15pt;
	font: bold;
	
}

.img-responsive {
    width: 100%;
    height: auto;
}

.img-overlay {
    padding-left: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-right: 50px;
}

.img-overlay:before {
    content: ' ';
    display: block;
    height: 20%;
}
.modiimg{
    width: 400px;
    
}
button {
    
    margin-top: 10px;
}
.startbtn {
    width: 500px;
    height: 100px;
}
#localbtn{
    width:30%;
}
#calbtn{
    margin-left: 100px;
}
.btn-fr{
        float: right;
    }

.form {
    width: 100%;
    height: 30%;
    border-radius: 10px;

    background-color: white;
}
.p-mar-left{
	margin-left: 100px;
}
h2 {
    text-align: left;
    margin-left: 40px;

}
.div-mar-top-bot{
	margin-top: 10px;
	margin-bottom: 40px;
}
.hoteladd{
    float: right;
}
        .p_start{
            font-size: 23px;
            font-weight:bold;
            
            margin: 10px 0 20px 100px;
            
        }
        .p_stitle{
        	font-size: 23px;
            font-weight:bold;
            
        }
        .p_title{
            font-size: 19px;
            line-height: 50%;
            padding-top: 10px;
        }
        .p_content{
            font-size: 14px;
            margin:0;
            
        }
        .potoimg{
            width: 200px;
        }
		.titleImg{
		width: 400px;
		}
        .p_edit{	
            font-size: 23px;
            font-weight:bold;
            
        }
        .btn-fr{
            float: right;
        }
        .select_size{
            width: 200px;
        }
        .container{
            width: 80%;
        }
      #calendar {
            max-width: 900px;
            margin: 40px auto;
        }
        #map{
            width: 500px;
            height: 500px;
        }
    #qimg{
        width: 100px;
        height: 50px;
    }
@media screen and (max-width: 600px) {

    button {

        margin-top: 0;
    }
    h2 {
        font-size: 10pt;
        font: bold;
    }
}
@media screen and (max-width: 1000px) {

    button {

        margin-top: 0;
    }
    h2 {
        font-size: 12pt;
        font: bold;
    }
}
