
a{color: black;}

#booking a:hover{
    cursor: pointer;
    color: cornflowerblue;
}



#topmenu{
    display: flex;
    align-items: center;
    padding-left: 10%;
    margin: 0px 0px 0px 20px;
}
#topmenu ul{
    margin: 0px;
    padding: 0px;
    
}
#topmenu li{
	float:left;
    margin: 20px 50px 10px 0px;
    display: inline;
    font-size: 2em;
    padding: 5px 0px;
}
#topmenu li a:hover{
    text-decoration: none;
}
#sel1 {border-bottom: 3px solid royalblue;}
.table{width: 400px;margin:auto; caption-side: top;}
table{}
th,td{text-align: center;}
table input[type=text]{
    width: 200px;
}
table span{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 20px;
}

#room{
    display: none;
    vertical-align: middle;
    align-self: center;
}
#booking{
    display: table-cell;
    vertical-align: middle;
    align-self: center;
}
.long_td{
    display: none;
}
.short_td{
    display: table-cell;
}
.img_td{
    display: none;
}
#detail{
    padding-top: 50px;
    display: none;
    vertical-align: middle;
    align-self: center;
}
#detail th, #detail td{
    width: 25%;
    text-align: left;
    border: none
}
.topline{
    border-top: 1px solid;
    border-color: silver;
}
.bottomline{
    border-bottom: 1px solid;
    border-color: silver;
}
.title{font-size: 1.3em;}
#detail h{
    font-size: 1.1em;
    color: black;
    font-weight: bold;
}
#img1 {
	width:100px;
	height:50px;
}

/* -760px 이상 */
@media screen and (min-width:760px) {
    .table{width: 760px;}
    .long_td{display: none;}
    .short_td{display: table-cell;}
    .img_td{display: none;}
}

/* -992px 이상 */
@media screen and (min-width:992px) {
    .table{width: 992px;}
    .long_td{display: table-cell;}
    .short_td{display: none;}
    .img_td{display: table-cell;}
}