header {
    width: 100%;
    height: 60px;
    height: 10%;
    background-color: #ffffff;
}
header #logo_img {
    width: 3%;
    height: auto;
}
.img-wrapper {
    position: relative;
}
.img-responsive {
    width: 100%;
    height: auto;
}
.img-overlay {
    width: 600px;
    height: 500px;
    padding-left: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-right: 30px;
}
.form {
    margin-top: 120px;
    padding: 30px;
    height: 25%;
    border-radius: 10px;
    background-color:ghostwhite;
}
.form h2 {
    font-weight: bold;
    font-size: 29px;
    
}
.img-overlay:before {
    content: ' ';
    display: block;
    height: 20%;
}

button{
    background:indianred;
    color:#fff;
    border:none;
    position:relative;
    width: 450px;
    height:38px;
    font-size: 14px;
    font-weight: bold;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
button:hover{
    background:#fff;
    color: black;
  }

#card1, #card2, #card3 {
    width: 30%;
    float: left;
    margin: 10px;
    background:gainsboro;
   
}
#card-header {
    height: 40px;
    background: grey;
    text-align: center;
}
#card-body {
    text-align: center;
}




