.menubar{
float: right;
margin-right:12px;
margin-top: -3px;
padding:0px;
font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
}

.menubar ul{
float: right;
background: rgba(219, 211, 211, 0);
height:50px;
list-style:none;
margin:0;
padding:0;
}

.menubar li{
float:left;
padding:0px;
}
.menubar img{
    width:50px;height: auto;
}

.menubar li a{
background: rgba(255, 255, 255, 0);
width: 100%;
color:#220f0f;
display:block;
font-weight:normal;
line-height:50px;
margin:0px;
padding:0px 25px;
text-align:center;
text-decoration:none;
}


.menubar li a:hover, .menubar ul li:hover a{

background-color: rgba(255, 255, 255, 0);

}

.menubar li ul{
background: rgb(109,109,109);
display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:100px;
z-index:100;
/*top:1em;
/*left:0;*/
}

.menubar li:hover ul{
display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {
background: rgb(109,109,109);
display:block;
float:none;
margin:0px;
padding:0px;
width:100px;
}
.menubar ul li a img{
    border-radius: 100%;
}

.menubar ul li:hover li a{
background:white;
border:1px solid rgba(182, 182, 182, 0.562);
   

}

.menubar li ul a{
display:block;
height:50px;
font-size:12px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.menubar li ul a:hover, .menubar li ul li:hover a{
background: rgb(253, 90, 95);
border:1px solid rgba(182, 182, 182, 0.562);
color:#ffffff;
text-decoration:none;
}

.menubar p{
clear:left;
}
.menubar li a{
    height: 50px;
    
}

.menu_container {
    display: none;
}

@media screen and (max-width: 760px){
    nav.menubar {
        display: none;
    }
    div.menu_container {
        display: block;
    }
    .fa-bars {
        cursor: pointer;
    }
}
