.searching {
    margin-left: 1%;
    padding-bottom: 15px;
}
.s_table{
    clear: both;
}

.paging_box{
    width:100%;
}
.paging {
    width: 250px;
    margin: 0 auto;
}
.regi {
    width: 200px;
    margin: 0 0 10% 90%;
}
.regi2{
	width: 200px;
	margin: 3% 0 0 30%;
}
.cent {
    text-align: center;
}
.noti .first { 
    width : 10%;
}
.noti .third{
    width : 10%;
}
.noti .forth {
    width : 10%;
}
.noti .fifth {
    width : 15%;
}
.noti .sixth {
    width : 15%
}
.question .first {
    width : 10%;
}
.question .second {
    width : 15%;
}
.question .third {
    width: 8%;
}
.question .forth {
    width : 10%;
}
.question .fifth{
    width : 15%;
}
.question .sixth {
    width : 15%
}

.userad .first {
    width : 10%;
}
.userad .second {
    width : 15%
}
.userad .third {
    width : 13%;
}
.userad .forth {
    width : 20%;
}
.userad .fifth{
    width : 15%;
}

.resad .first {
    width: 10%;
}
.resad .second{
    width : 10%;
}
.resad .third{
    width : 10%;
}
.resad .forth{
    width : 15%;
}
.resad .fifth{
    width : 5%;
}
.resad .sixth{
    width : 15%;
}
.resad .seventh{
    width : 13%;
}
.resad .ninth{
    width : 13%;
}

.roomad .first {
    width: 7%;
}
.roomad .second{
    width : 10%;
}
.roomad .forth{
    width : 23%;
}
.roomad .fifth{
    width : 8%;
}
.roomad .sixth{
    width : 8%;
}
.roomad .seventh{
    width : 6%;
}
.roomad.ninth{
    width : 13%;
}        
.tri {
    width: 250px;
    float: left;
    margin: 0 5%;
}
.fmad {
    width: 245px;
}
.revi .first {
    width: 8%;
}
.revi .second {
    width: 10%;
}
.revi .third {
    width: 8%;
}
.revi .forth {
    width: 10%;
}
.revi .fifth {
    width: 5%;
}
.revi .sixth {
    width: 10%;
}
.apiJoinUs{
    margin: 3% 0 0 5%;
}
.apiJoinUs p{
    float: left;
    margin-right: 5%;
    width: 15%;
}
input.apijoinus{
    width: 35%;
    padding-left: 1%;
}
.sitesetting {
    padding-top: 5%;
    margin-left: 55%;
}
.re_detail div {
    margin-bottom: 3%;
}
.resad_detail .first{
    margin: 10%;
}
.resad_detail .second {
    margin : 25%;
}
.notnull {
    margin : 5% 0 0 5%;
    align-items: center;
}
.notnull textarea{
    width: 58%;
}
.ques_box {
    border: 3px solid #337ab7;
    margin-bottom: 3%;
    width : 58%;
}
.center{
	  display: table;
  margin-left: auto;
  margin-right: auto;
}