html body {
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
#map{display: none;}
#left{
    width: 100%;
    padding-top: 100px;
    padding-left: 15px;
    height: 1400px;
}
.pagelist{
	list-style: none;
	margin:0;
    padding:0;
}
.page{
	float:left;
	margin: 0px 5px;
    padding: 0 0 0 0;
    border : 0;
}
.Room{
    width: 95%;
    height:500px;
    padding: 15px 0px 0px 15px;
    border-top: 1px solid RGB(194,194,194);
    border-bottom: 1px solid RGB(194,194,194);
}
.Room_img{
    width: 90%;
    height: 80%;
    display: inline-flex;
}
.Room_img img{
    width: 100%;
    height: 100%;
}
.Room_info{
    width: 90%;
    height: 80px;
}
.Room_header{
    width: 100%;
    height: 30%;
}
.Room_star{
    width: 20%;
    height: 100%;
    float: right;
    padding: 1% 0% 0% 1%;
}
.Room_address{
    width: 78%;
    height: 100%;
    float: left;
    color: RGB(194,194,194);
    padding: 1% 0% 0% 1%;
    overflow:hidden;
    text-overflow:ellipsis;
}
.Room_body{
    width: 100%;
    height: 70%;
    overflow:hidden;
    text-overflow:ellipsis;
}
.Room_body p{
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
}
.Room_footer{visibility: hidden;}
#fillter input[type="text"]{
    text-align: center;
}
#f_button{
    height: 50px;
    background-color: white;
    border: 0.5px solid silver;
    text-align: center;
}
#fillter{
    display:none;
    background-color: white;
    border: 0.5px solid silver;
    padding: 0px 15px;
    margin: 10px 0px 0px 0px;
    width: 480px;
    height: 160px;
    z-index: 1;
}
.rows{
    width: 450px;
    margin: 10px 0px;
    display: block;
}
.cols{
    width: 40%;
    display: inline-block;
    margin: 0px;
    position: relative;
}

@media screen and (min-width:760px) {
    #map{display: none;}
    #left{
        width: 100%;
        padding-top: 100px;
        padding-left: 15px;
        height: 1400px;
    }
    .Room{
        padding: 0px 0px 0px 15px;
        width: 95%;
        height:200px;
        display: table;
    }
    .Room_img{
        width: 30%;
        height: 90%;
        display: table-cell;
        vertical-align: center;
    }
    .Room_img img{
        width: 100%;
        height: 100%;
    }
    .Room_info{
        width: 65%;
        height: 90%;
        padding-left: 15px;
        display: table-cell;
        vertical-align: center;
    }
    .Room_star{
        width: 20%;
        height: 100%;
        float: right;
        padding: 1% 0% 0% 1%;
    }
    .Room_address{
        width: 78%;
        height: 100%;
        float: left;
        color: RGB(194,194,194);
        padding: 1% 0% 0% 1%;
    }
    .Room_header{
        width: 100%;
        height: 20%;
    }
    .Room_body{
        width: 100%;
        height: 30%;
    }
    .Room_body p{
        font-weight: bolder;
        margin: 0px;
        padding: 0px;
    }
    .Room_footer{
        visibility: visible;
        width: 100%;
        height: 50%;
    }
    .Room_footer p{
        color: RGB(194,194,194);
        margin: 0px;
        padding: 0px;
    }
}

/* -992px 이상 */
@media screen and (min-width:992px) {
    #map{
        display: block;
        top: 120px;
        width: 48%;
        height: 80vh;
        position: relative;
        z-index: -1;
    }
    #left{
        width:48%;
        padding-top: 100px;
        padding-left: 15px;
        height: 1400px;
        float: left;
    }
    .Room{
        padding: 0px 0px 0px 15px;
        width: 98%;
        height:200px;
        display: table;
    }
    .Room_img{
        width: 30%;
        height: 160px;
        display: table-cell;
        vertical-align: middle;
    }
    .Room_img img{
        width: 100%;
        height: 100%;
    }
    .Room_info{
        width: 65%;
        height: 180px;
        padding-left: 15px;
        display: table-cell;
        vertical-align: middle;
    }
    .Room_header{
        width: 100%;
        height: 20%;
    }
    .Room_star{
        width: 20%;
        height: 100%;
        padding: 1% 0% 0% 1%;
    }
    .Room_address{
        width: 80%;
        height: 100%;
        color: RGB(194,194,194);
        padding: 1% 0% 0% 1%;
    }
    .Room_body{
        width: 100%;
        height: 30%;
    }
    .Room_body p{
        font-weight: bolder;
        margin: 0px;
        padding: 0px;
    }
    .Room_footer{
        visibility: visible;
        width: 100%;
        height: 50%;
    }
    .Room_footer p{
        color: RGB(194,194,194);
        margin: 0px;
        padding: 0px;
    }
}